ul{
	list-style-type: none ;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #009698;
}

li{
	float: left;
	border-left: 3px solid white;
	padding-left: 6.5%;
	padding-right: 6.5%;
}

li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px;
}

li a:hover:not(activo){
	background-color: #A9D8D9;
	color: white;
}

.eich1{
	font-family: Arial, sans-serif;
	font-style: italic;
}

.lore{
	font-family: Arial, sans-serif;
	text-align: left;
}
#log{
	font-family: arial, sans-serif;
	text-align: center;
	border: 1px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width: 400px;
	background-color: #009698;
}
#logg{
	display: flex;
	justify-content: center;
	width: 400px;
}

#ing{
	font-family: arial, sans-serif;
	font-style: italic;
	display: flex;
	justify-content: center;
	width: 400px;
	height: 50px;
	background-color: lightblue;
}
#pre{
	display: flex;
	border: 1px;
	justify-content: center;
	width: 400px;
	height: 50px;
}
.fut{
	font-family: arial, sans-serif;
	font-style: italic;
	text-align: center;
	border: 1px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #009698 ;
}